/* utilities here */

/* table layout */

div.table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--tt-font-family);
  border: var(--tt-table-border);
  border-radius: var(--tt-table-border-radius);
}

div.table > div.header {
  background-color: var(--tt-header-background-color);
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  border-color: var(--tt-border-color);
  border-style: var(--tt-border-style);
  /* border-top-width: var(--tt-border-width); */
  border-top-width: 0;
  border-bottom-width: var(--tt-border-width);
  /* these require resets */
  border-left-width: 0;
  border-right-width: 0;
}

div.table > div.header > div.cell {
  background-color: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.25rem; /* FIXME: this should be defined in theme */
  box-sizing: border-box;
  user-select: none;
  /* overflow: hidden; */
  /* padding */
  padding-left: var(--tt-padding-left);
  padding-right: var(--tt-padding-right);
  padding-top: var(--tt-padding-top);
  padding-bottom: var(--tt-padding-bottom);
  /* border */
  border-color: var(--tt-border-color);
  border-style: var(--tt-border-style);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: var(--tt-border-width);
}

div.table > div.header > div.cell:last-child {
  border-right-width: 0;
}

div.table > div.header > div.cell > span.col-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text related */
  font-size: var(--tt-header-cell-font-size);
  font-weight: var(--tt-header-cell-font-weight);
  color: var(--tt-header-cell-text-color);
}

/* header filters wrapper (wraps search, select) */
div.table > div.header > div.cell > div.filter-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

div.table > div.header > div.cell > div.filter-wrapper input[type="text"] {
  /* reset all the styles */
  all: unset;
  display: inline-block;
  position: inherit;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--tt-input-background-color);
  border: var(--tt-input-border-width) var(--tt-input-border-style)
    var(--tt-input-border-color);
  border-radius: var(--tt-input-border-radius);
  /* text */
  font-size: var(--tt-input-font-size);
  font-weight: var(--tt-input-font-weight);
  color: var(-tt-input-text-color);
  /* padding */
  padding-left: var(--tt-input-padding-left);
  padding-right: var(--tt-input-padding-right);
  padding-top: var(--tt-input-padding-top);
  padding-bottom: var(--tt-input-padding-bottom);
  /* transition */
  transition-duration: var(--tt-transition-duration);
  /* outline */
  outline-width: var(--tt-outline-width);
  outline-style: var(--tt-outline-style);
  outline-color: transparent;
  outline-offset: var(--tt-outline-offset);
}

div.table
  > div.header
  > div.cell
  > div.filter-wrapper
  input[type="text"]:focus {
  /* outline */
  outline-width: var(--tt-outline-width);
  outline-style: var(--tt-outline-style);
  outline-color: var(--tt-outline-color);
  outline-offset: var(--tt-outline-offset);
}

/* FIXME: styles */
/* FIXME: X icon */
div.table
  > div.header
  > div.cell
  > div.filter-wrapper
  button[type="button"].clear {
  all: unset;
  position: absolute;
  right: var(--tt-input-padding-right);
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  box-sizing: border-box;
  transform: translateY(-50%);
  background-color: red;
  z-index: 1;
  cursor: pointer;
}

div.table > div.body-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

div.table > div.body-wrapper > div.body {
  position: relative;
  box-sizing: border-box;
  width: inherit;
  z-index: inherit;
}

div.table > div.body-wrapper > div.body > div.row {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: inherit;
  will-change: transform;
}

div.table > div.body-wrapper > div.body > div.row:hover {
  background-color: var(--tt-row-background-color-hover) !important;
}

div.table > div.body-wrapper > div.body > div.row-even {
  background-color: var(--tt-row-background-color);
}

div.table > div.body-wrapper > div.body > div.row-odd {
  background-color: var(--tt-row-background-color-odd);
}

div.table > div.body-wrapper > div.body > div.row > div.cell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding */
  padding-left: var(--tt-padding-left);
  padding-right: var(--tt-padding-right);
  padding-top: var(--tt-padding-top);
  padding-bottom: var(--tt-padding-bottom);
  /* border */
  border-color: var(--tt-border-color);
  border-style: var(--tt-border-style);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: var(--tt-border-width);
  /* text */
  font-size: var(--tt-row-font-size);
  font-weight: var(--tt-row-font-weight);
  color: var(--tt-row-text-color);
}

div.table > div.body-wrapper > div.body > div.row > div.cell:last-child {
  border-right-width: 0;
}
